<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:application name="front-move-site"   />

	<dubbo:registry address="zookeeper://${ZOOKEEPER_SERVER}" />

  
	<dubbo:reference id="sysAreaService" interface="com.aibang.business.api.user.area.SysAreaService" />
	<dubbo:reference id="sysConfigService" interface="com.aibang.business.api.user.config.SysConfigService" />
	
	
	<dubbo:reference id="userBaseService" interface="com.aibang.business.api.user.account.UserBaseService"   /> 
   	<dubbo:reference id="userService" interface="com.aibang.business.api.user.user.UserService"   />
	<dubbo:reference id="usersInfoService" interface="com.aibang.business.api.user.user.UsersInfoService"   />
	<dubbo:reference id="usersLogService" interface="com.aibang.business.api.user.user.UsersLogService"   />
	<dubbo:reference id="usersAddService" interface="com.aibang.business.api.user.user.UsersAddService"   />
	<dubbo:reference id="usersMessageService" interface="com.aibang.business.api.user.message.UsersMessageService" />
	
	<dubbo:reference id="approveEmailActiveService" interface="com.aibang.business.api.user.approve.ApproveEmailActiveService"   />
	<dubbo:reference id="approveSmsService" interface="com.aibang.business.api.user.approve.ApproveSmsService"   />
	<dubbo:reference id="approveRealNameService" interface="com.aibang.business.api.user.approve.ApproveRealnameService"   />



</beans> 