<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class="testEmail" style="width:795px; padding-left:20px;">
	<h3 style="height:68px;line-height:68px;font-size:16px;color:#1c1c1c;">尊敬的用户，您好：</h3>
    <p style="width:570px;font-size:14px;color:#333;line-height:26px; margin-bottom:10px;">您好！您在华金所点击了“发送验证邮件”按钮，<br />故系统自动为您发送了这封邮件。<br />您可以点击以下链接验证您的邮箱：</p>
    <div class="email_link" style="line-height:42px; margin-bottom:10px;">
    	<a href="http://$!domain$!projectName/$!emailAction?kid=$!activateUrl" style="color:#287ad2;">http://$!domain$!projectName/$!emailAction?kid=$!activateUrl</a>
    </div>
    <div style="margin-top:10px;">
    <h4 style="color:#ff2b08; margin-bottom:7px;">如果点击无效，请复制上面地址到浏览器地址栏中打开：</h4>
    <p>此链接有效期为两个小时，请在两小时内点击链接完成验证。如果您不需要验证邮箱，或者您从未点击过“验证邮箱”按钮，请忽略本邮件。<br />如果您对华金所有任何建议或疑问，请与我们联系:<br />客服电话：400 826 5000 (按当地市话标准计费)<br />华金所</p>
    </div>
</div>