@charset "utf-8";
/* CSS Document */

body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote，th,td,i,
html, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dt, li, fieldset,form,legend, table, caption, tbody, tfoot, thead, tr
{
	font-size:14px;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	
}

body{ font-family:"微软雅黑"; font-size:14px; color:#000; font-weight:normal;}
li{list-style:none;}
a{ text-decoration:none;}
img,li{vertical-align:top;}
.clear{zoom:1;}
.clear:after{content:"";display:block;clear:both;}
.fl{ float:left;}
.fr{ float:right;}




