<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="HjsApproveRealname">

	<resultMap id="RM_HjsApproveRealname" type="com.cifex.transfer.model.dto.HjsApproveRealname">
        <result property="id" column="ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="realname" column="REALNAME"/>
        <result property="cardId" column="CARD_ID"/>
        <result property="status" column="STATUS"/>
        <result property="sex" column="SEX"/>
        <result property="cardPic" column="CARD_PIC"/>
        <result property="cardPic1" column="CARD_PIC1"/>
        <result property="cardPic2" column="CARD_PIC2"/>
        <result property="verifyUserid" column="VERIFY_USERID"/>
        <result property="verifyMemo" column="VERIFY_MEMO"/>
        <result property="verifyTime" column="VERIFY_TIME"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="createIp" column="CREATE_IP"/>
        <collection property="hjsUser" column="LOGINID"  ofType="com.cifex.transfer.model.dto.HjsUser">
			<id property="id" column="LOGINID"/>
        	<result property="username" column="USERNAME"/>
		</collection>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="HjsApproveRealname.columns">
	    <![CDATA[
		ID,USER_ID,REALNAME,CARD_ID,STATUS,SEX,CARD_PIC,CARD_PIC1,CARD_PIC2,VERIFY_USERID,VERIFY_MEMO,VERIFY_TIME,CREATE_TIME,CREATE_IP
	    ]]>
	</sql>

    <sql id="HjsApproveRealname.tbcolumns">
	    <![CDATA[
		tb.ID,tb.USER_ID,tb.REALNAME,tb.CARD_ID,tb.STATUS,tb.SEX,tb.CARD_PIC,tb.CARD_PIC1,tb.CARD_PIC2,tb.VERIFY_USERID,tb.VERIFY_MEMO,tb.VERIFY_TIME,tb.CREATE_TIME,tb.CREATE_IP,
		u.ID as LOGINID,u.USERNAME
	    ]]>
	</sql>
	
	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<!--
		描述：（前台/后台）添加功能sql
		作者：Zhang Yong
		时间：2015.9.14
	-->
	<insert id="HjsApproveRealname.insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO hjs_approve_realname (
        	
        	USER_ID ,
        	REALNAME ,
        	CARD_ID ,
        	STATUS ,
        	SEX ,
        	CARD_PIC ,
        	CARD_PIC1 ,
        	CARD_PIC2 ,
        	VERIFY_USERID ,
        	VERIFY_MEMO ,
        	VERIFY_TIME ,
        	CREATE_TIME ,
        	CREATE_IP 
        ) VALUES (
        	#{userId} ,
        	#{realname} ,
        	#{cardId} ,
        	#{status} ,
        	#{sex} ,
        	#{cardPic} ,
        	#{cardPic1} ,
        	#{cardPic2} ,
        	#{verifyUserid} ,
        	#{verifyMemo} ,
        	#{verifyTime} ,
        	#{createTime} ,
        	#{createIp} 
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    <!--
		描述：（前台/后台）更新功能sql
		作者：Zhang Yong
		时间：2015.9.14
	-->
	<update id="HjsApproveRealname.update" >
    <![CDATA[
        UPDATE hjs_approve_realname SET
	        USER_ID = #{userId} ,
	        REALNAME = #{realname} ,
	        CARD_ID = #{cardId} ,
	        STATUS = #{status} ,
	        SEX = #{sex} ,
	        CARD_PIC = #{cardPic} ,
	        CARD_PIC1 = #{cardPic1} ,
	        CARD_PIC2 = #{cardPic2} ,
	        VERIFY_USERID = #{verifyUserid} ,
	        VERIFY_MEMO = #{verifyMemo} ,
	        VERIFY_TIME = #{verifyTime} ,
	        CREATE_TIME = #{createTime} ,
	        CREATE_IP = #{createIp} 
        WHERE 
	        ID = #{id} 
    ]]>
	</update>
	<!--
		描述：（后台）会员认证模块审核功能sql
		作者：Zhang Yong
		时间：2015.9.14
	-->
	<update id="HjsApproveRealname.audit">		
		update hjs_approve_realname set 
		STATUS = #{status} ,
		VERIFY_MEMO = #{verifyMemo} ,
	    VERIFY_TIME = #{verifyTime} ,
	    VERIFY_USERID = #{verifyUserid} 
	    where ID = #{id}
	</update>
	<!--
		描述：（前台）会员认证功能sql
		作者：Zhang Yong
		时间：2015.9.14
	-->
	<update id="HjsApproveRealname.activate">		
		update hjs_approve_realname set 
		REALNAME = #{realname} ,
	    CARD_ID = #{cardId} ,
		STATUS = #{status} ,
	    VERIFY_TIME = #{verifyTime} 
	    where ID = #{id}
	</update>


   
	<!--
		描述：（前台/后台）逻辑删除功能sql
		作者：Zhang Yong
		时间：2015.9.14
	-->
    <update id="HjsApproveRealname.remove">
    <![CDATA[
        UPDATE hjs_approve_realname SET
	       IS_DEL=1,
	       DELETE_TIME=#{deleteTime} 
        WHERE 
        ID = #{id} 
    ]]>
    </update>
    
    <!--
		描述：（前台/后台）删除功能sql
		作者：Zhang Yong
		时间：2015.9.14
	-->
    <delete id="HjsApproveRealname.delete">
    <![CDATA[
        DELETE FROM hjs_approve_realname WHERE
        ID = #{id} 
    ]]>
    </delete>
    <!--
		描述：（前台/后台）通过ID获取实名认证信息功能sql
		作者：Zhang Yong
		时间：2015.9.14
	-->
    <select id="HjsApproveRealname.getById" resultMap="RM_HjsApproveRealname">
		SELECT <include refid="HjsApproveRealname.columns" />
	    <![CDATA[
		    FROM hjs_approve_realname 
	        WHERE 
		        ID = #{id} 
	    ]]>
	</select>
	<!--
		描述：（前台/后台）通过登录ID获取认证信息功能sql
		作者：Zhang Yong
		时间：2015.9.14
	-->
	<select id="HjsApproveRealname.getByLoginId" resultMap="RM_HjsApproveRealname">
		SELECT <include refid="HjsApproveRealname.columns" />
	    <![CDATA[
		    FROM hjs_approve_realname 
	        WHERE 
		        USER_ID = #{userId} 
	    ]]>
	</select>
	<!--
		描述：（前台）通过登录CardID获取认证信息功能sql
		作者：Zhang Yong
		时间：2015.9.14
	-->
	<select id="HjsApproveRealname.getByCardId" resultMap="RM_HjsApproveRealname">
		SELECT <include refid="HjsApproveRealname.columns" />
	    <![CDATA[
		    FROM hjs_approve_realname 
	        WHERE 
		        CARD_ID = #{cardId} 
	    ]]>
	</select>
	
	<!--
		描述：（后台）分页条件sql
		作者：Zhang Yong
		时间：2015.9.14
	-->
	<sql id="HjsApproveRealname.findPage.where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="@Ognl@isNotEmpty(id)">
				AND tb.ID = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(userId)">
				AND tb.USER_ID = #{userId}
			</if>
	       <if test="@Ognl@isNotEmpty(realname)">
				AND tb.REALNAME = #{realname}
			</if>
	       <if test="@Ognl@isNotEmpty(cardId)">
				AND tb.CARD_ID = #{cardId}
			</if>
	       <if test="@Ognl@isNotEmpty(status)">
				AND tb.STATUS = #{status}
			</if>
	       <if test="@Ognl@isNotEmpty(sex)">
				AND tb.SEX = #{sex}
			</if>
	       <if test="@Ognl@isNotEmpty(cardPic)">
				AND tb.CARD_PIC = #{cardPic}
			</if>
	       <if test="@Ognl@isNotEmpty(cardPic1)">
				AND tb.CARD_PIC1 = #{cardPic1}
			</if>
	       <if test="@Ognl@isNotEmpty(cardPic2)">
				AND tb.CARD_PIC2 = #{cardPic2}
			</if>
	       <if test="@Ognl@isNotEmpty(verifyUserid)">
				AND tb.VERIFY_USERID = #{verifyUserid}
			</if>
	       <if test="@Ognl@isNotEmpty(verifyMemo)">
				AND tb.VERIFY_MEMO = #{verifyMemo}
			</if>
	       <if test="@Ognl@isNotEmpty(verifyTimeBegin)">
				AND tb.VERIFY_TIME >= #{verifyTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(verifyTimeEnd)">
				AND tb.VERIFY_TIME &lt;= #{verifyTimeEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(createTimeBegin)">
				AND tb.CREATE_TIME >= #{createTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(createTimeEnd)">
				AND tb.CREATE_TIME &lt;= #{createTimeEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(createIp)">
				AND tb.CREATE_IP = #{createIp}
			</if>
			<if test="@Ognl@isNotEmpty(username)">
				AND (u.USERNAME LIKE CONCAT(CONCAT('%', #{username}), '%') or u.PHONE LIKE CONCAT(CONCAT('%', #{username}), '%') or tb.CARD_ID LIKE CONCAT(CONCAT('%', #{username}), '%')) 
			</if>
		</where>
	</sql>
		
    <select id="HjsApproveRealname.findPage.count" resultType="long">
        SELECT count(*) FROM hjs_approve_realname tb 
        left join hjs_user u on tb.USER_ID=u.ID 
		<include refid="HjsApproveRealname.findPage.where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="HjsApproveRealname.findPage" resultType="map">
    	SELECT <include refid="HjsApproveRealname.tbcolumns" />
	    FROM hjs_approve_realname tb
	    left join hjs_user u on tb.USER_ID=u.ID 
		<include refid="HjsApproveRealname.findPage.where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
		<if test="@Ognl@isNotEmpty(offset) and @Ognl@isNotEmpty(pageSize)">
		 limit ${offset},${pageSize}
		</if>
    </select>

	
</mapper>

