<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="HjsSysRole">

	<resultMap id="RM_HjsSysRole" type="com.cifex.transfer.model.dto.HjsSysRole">
        <result property="id" column="ID"/>
        <result property="parentId" column="PARENT_ID"/>
        <result property="roleName" column="ROLE_NAME"/>
        <result property="menuRights" column="MENU_RIGHTS"/>
        <result property="addQx" column="ADD_QX"/>
        <result property="delQx" column="DEL_QX"/>
        <result property="editQx" column="EDIT_QX"/>
        <result property="chaQx" column="CHA_QX"/>
        <result property="auditQx" column="AUDIT_QX"/>
        <result property="fxQx" column="FX_QX"/>
        <result property="fwQx" column="FW_QX"/>
        <result property="qx1" column="QX1"/>
        <result property="qx2" column="QX2"/>
        <result property="qx3" column="QX3"/>
        <result property="qx4" column="QX4"/>
        <result property="c1" column="C1"/>
        <result property="c2" column="C2"/>
        <result property="c3" column="C3"/>
        <result property="c4" column="C4"/>
        <result property="q1" column="Q1"/>
        <result property="q2" column="Q2"/>
        <result property="q3" column="Q3"/>
        <result property="q4" column="Q4"/>
        <result property="isDel" column="IS_DEL"/>
        <result property="version" column="VERSION"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="deleteTime" column="DELETE_TIME"/>
        <result property="optId" column="OPT_ID"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="HjsSysRole.columns">
	    <![CDATA[
		ID,PARENT_ID,ROLE_NAME,MENU_RIGHTS,ADD_QX,DEL_QX,EDIT_QX,CHA_QX,AUDIT_QX,FX_QX,FW_QX,QX1,QX2,QX3,QX4,C1,C2,C3,C4,Q1,Q2,Q3,Q4,IS_DEL,VERSION,CREATE_TIME,UPDATE_TIME,DELETE_TIME,OPT_ID
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<!--
		描述：（前台/后台）添加功能sql
		作者：Zhang Yong
		时间：2015.9.14
	-->
	<insert id="HjsSysRole.insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO hjs_sys_role (
        	ID ,
        	PARENT_ID ,
        	ROLE_NAME ,
        	MENU_RIGHTS ,
        	ADD_QX ,
        	DEL_QX ,
        	EDIT_QX ,
        	CHA_QX ,
        	AUDIT_QX ,
        	FX_QX ,
        	FW_QX ,
        	QX1 ,
        	QX2 ,
        	QX3 ,
        	QX4 ,
        	C1 ,
        	C2 ,
        	C3 ,
        	C4 ,
        	Q1 ,
        	Q2 ,
        	Q3 ,
        	Q4 ,
        	IS_DEL ,
        	VERSION ,
        	CREATE_TIME ,
        	UPDATE_TIME ,
        	DELETE_TIME ,
        	OPT_ID 
        ) VALUES (
        	#{id} ,
        	#{parentId} ,
        	#{roleName} ,
        	#{menuRights} ,
        	#{addQx} ,
        	#{delQx} ,
        	#{editQx} ,
        	#{chaQx} ,
        	#{auditQx} ,
        	#{fxQx} ,
        	#{fwQx} ,
        	#{qx1} ,
        	#{qx2} ,
        	#{qx3} ,
        	#{qx4} ,
        	#{c1} ,
        	#{c2} ,
        	#{c3} ,
        	#{c4} ,
        	#{q1} ,
        	#{q2} ,
        	#{q3} ,
        	#{q4} ,
        	#{isDel} ,
        	#{version} ,
        	#{createTime} ,
        	#{updateTime} ,
        	#{deleteTime} ,
        	#{optId} 
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    <!--
		描述：（前台/后台）更新功能sql
		作者：Zhang Yong
		时间：2015.9.14
	-->
	<update id="HjsSysRole.update" >
        UPDATE hjs_sys_role SET
        	<if test="@Ognl@isNotEmpty(parentId)">
				PARENT_ID = #{parentId} ,
		   </if>
		   <if test="@Ognl@isNotEmpty(roleName)">
				ROLE_NAME = #{roleName} ,
		   </if>
		   <if test="@Ognl@isNotEmpty(menuRights)">
				MENU_RIGHTS = #{menuRights} ,
		   </if>
		   <if test="@Ognl@isNotEmpty(addQx)">
				ADD_QX = #{addQx} ,
		   </if>
		   <if test="@Ognl@isNotEmpty(delQx)">
				DEL_QX = #{delQx} ,
		   </if>
		   <if test="@Ognl@isNotEmpty(editQx)">
				EDIT_QX = #{editQx} ,
		   </if>
		   <if test="@Ognl@isNotEmpty(chaQx)">
				CHA_QX = #{chaQx} ,
		   </if>
		   <if test="@Ognl@isNotEmpty(auditQx)">
				AUDIT_QX = #{auditQx} ,
		   </if>
		   <if test="@Ognl@isNotEmpty(fxQx)">
				FX_QX = #{fxQx} ,
		   </if>
		   <if test="@Ognl@isNotEmpty(fwQx)">
				FW_QX = #{fwQx} ,
		   </if>
		   <if test="@Ognl@isNotEmpty(qx1)">
				QX1 = #{qx1} ,
		   </if>
		   <if test="@Ognl@isNotEmpty(qx2)">
				QX2 = #{qx2} ,
		   </if>
		   <if test="@Ognl@isNotEmpty(qx3)">
				QX3 = #{qx3} ,
		   </if>
		   <if test="@Ognl@isNotEmpty(qx4)">
				QX4 = #{qx4} ,
		   </if>
		   <if test="@Ognl@isNotEmpty(c1)">
				C1 = #{c1} ,
		   </if>
		   <if test="@Ognl@isNotEmpty(c2)">
				C2 = #{c2} ,
		   </if>
		   <if test="@Ognl@isNotEmpty(c3)">
				C3 = #{c3} ,
		   </if>
		   <if test="@Ognl@isNotEmpty(c4)">
				C4 = #{c4} ,
		   </if>
		   <if test="@Ognl@isNotEmpty(q1)">
				Q1 = #{q1} ,
		   </if>
		 	<if test="@Ognl@isNotEmpty(q2)">
				Q2 = #{q2} ,
		   </if>
		   <if test="@Ognl@isNotEmpty(q3)">
				Q3 = #{q3} ,
		   </if>
		   <if test="@Ognl@isNotEmpty(q4)">
				Q4 = #{q4} ,
		   </if>
		   <if test="@Ognl@isNotEmpty(isDel)">
				IS_DEL = #{isDel} ,
		   </if>
		   <if test="@Ognl@isNotEmpty(version)">
				VERSION = #{version} ,
		   </if>
		   <if test="@Ognl@isNotEmpty(createTime)">
				CREATE_TIME = #{createTime} ,
		   </if>
		   <if test="@Ognl@isNotEmpty(updateTime)">
				UPDATE_TIME = #{updateTime} ,
		   </if>
		   <if test="@Ognl@isNotEmpty(deleteTime)">
				DELETE_TIME = #{deleteTime} ,
		   </if>
		   <if test="@Ognl@isNotEmpty(optId)">
				OPT_ID = #{optId}
		   </if>

        WHERE 
	        ID = #{id} 
	</update>


   
	<!--
		描述：（前台/后台）逻辑删除功能sql
		作者：Zhang Yong
		时间：2015.9.14
	-->
    <update id="HjsSysRole.remove">
    <![CDATA[
        UPDATE hjs_sys_role SET
	       IS_DEL=1,
	       DELETE_TIME=#{deleteTime} 
        WHERE 
        ID = #{id} 
    ]]>
    </update>
    
    <!--
		描述：（前台/后台）删除功能sql
		作者：Zhang Yong
		时间：2015.9.14
	-->
    <delete id="HjsSysRole.delete">
    <![CDATA[
        DELETE FROM hjs_sys_role WHERE
        ID = #{id} 
    ]]>
    </delete>
    <!--
		描述：（前台/后台）通过ID得到角色信息功能sql
		作者：Zhang Yong
		时间：2015.9.14
	-->
    <select id="HjsSysRole.getById" resultMap="RM_HjsSysRole">
		SELECT <include refid="HjsSysRole.columns" />
	    <![CDATA[
		    FROM hjs_sys_role 
	        WHERE IS_DEL=0 AND
		        ID = #{id} 
	    ]]>
	</select>
	<!--
		描述：（后台）分页条件sql
		作者：Zhang Yong
		时间：2015.9.14
	-->
	<sql id="HjsSysRole.findPage.where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	
		 IS_DEL=0 AND      				
	       <if test="@Ognl@isNotEmpty(id)">
				AND ID = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(parentId)">
				AND PARENT_ID = #{parentId}
			</if>
	       <if test="@Ognl@isNotEmpty(roleName)">
				AND ROLE_NAME = #{roleName}
			</if>
	       <if test="@Ognl@isNotEmpty(menuRights)">
				AND MENU_RIGHTS = #{menuRights}
			</if>
	       <if test="@Ognl@isNotEmpty(addQx)">
				AND ADD_QX = #{addQx}
			</if>
	       <if test="@Ognl@isNotEmpty(delQx)">
				AND DEL_QX = #{delQx}
			</if>
	       <if test="@Ognl@isNotEmpty(editQx)">
				AND EDIT_QX = #{editQx}
			</if>
	       <if test="@Ognl@isNotEmpty(chaQx)">
				AND CHA_QX = #{chaQx}
			</if>
	       <if test="@Ognl@isNotEmpty(auditQx)">
				AND AUDIT_QX = #{auditQx}
			</if>
	       <if test="@Ognl@isNotEmpty(fxQx)">
				AND FX_QX = #{fxQx}
			</if>
	       <if test="@Ognl@isNotEmpty(fwQx)">
				AND FW_QX = #{fwQx}
			</if>
	       <if test="@Ognl@isNotEmpty(qx1)">
				AND QX1 = #{qx1}
			</if>
	       <if test="@Ognl@isNotEmpty(qx2)">
				AND QX2 = #{qx2}
			</if>
	       <if test="@Ognl@isNotEmpty(qx3)">
				AND QX3 = #{qx3}
			</if>
	       <if test="@Ognl@isNotEmpty(qx4)">
				AND QX4 = #{qx4}
			</if>
	       <if test="@Ognl@isNotEmpty(c1)">
				AND C1 = #{c1}
			</if>
	       <if test="@Ognl@isNotEmpty(c2)">
				AND C2 = #{c2}
			</if>
	       <if test="@Ognl@isNotEmpty(c3)">
				AND C3 = #{c3}
			</if>
	       <if test="@Ognl@isNotEmpty(c4)">
				AND C4 = #{c4}
			</if>
	       <if test="@Ognl@isNotEmpty(q1)">
				AND Q1 = #{q1}
			</if>
	       <if test="@Ognl@isNotEmpty(q2)">
				AND Q2 = #{q2}
			</if>
	       <if test="@Ognl@isNotEmpty(q3)">
				AND Q3 = #{q3}
			</if>
	       <if test="@Ognl@isNotEmpty(q4)">
				AND Q4 = #{q4}
			</if>
	       <if test="@Ognl@isNotEmpty(isDel)">
				AND IS_DEL = #{isDel}
			</if>
	       <if test="@Ognl@isNotEmpty(version)">
				AND VERSION = #{version}
			</if>
	       <if test="@Ognl@isNotEmpty(createTimeBegin)">
				AND CREATE_TIME >= #{createTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(createTimeEnd)">
				AND CREATE_TIME &lt;= #{createTimeEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(updateTimeBegin)">
				AND UPDATE_TIME >= #{updateTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(updateTimeEnd)">
				AND UPDATE_TIME &lt;= #{updateTimeEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(deleteTimeBegin)">
				AND DELETE_TIME >= #{deleteTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(deleteTimeEnd)">
				AND DELETE_TIME &lt;= #{deleteTimeEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(optId)">
				AND OPT_ID = #{optId}
			</if>
		</where>
	</sql>
		
    <select id="HjsSysRole.findPage.count" resultType="long">
        SELECT count(*) FROM hjs_sys_role 
		<include refid="HjsSysRole.findPage.where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="HjsSysRole.findPage" resultMap="RM_HjsSysRole">
    	SELECT <include refid="HjsSysRole.columns" />
	    FROM hjs_sys_role 
		<include refid="HjsSysRole.findPage.where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
			<if test="@Ognl@isNotEmpty(offset) and @Ognl@isNotEmpty(pageSize)">
		 limit ${offset},${pageSize}
		</if>
    </select>
    
    <select id="HjsSysRole.listAllERRoles" resultMap="RM_HjsSysRole">
		select 
			ID,
			ROLE_NAME,
			MENU_RIGHTS,	
			PARENT_ID,
			ADD_QX,
			DEL_QX,
			EDIT_QX,
			CHA_QX,AUDIT_QX
		from HJS_SYS_ROLE 
		where IS_DEL=0 AND
			PARENT_ID != '0'
	</select>
	
	<!-- 列出会员二级角色信息 -->
	<select id="HjsSysRole.listAllappERRoles" resultMap="RM_HjsSysRole">
		select 
			ROLE_ID,
			ROLE_NAME,
			MENU_RIGHTS,
			PARENT_ID,
			ADD_QX,
			DEL_QX,
			EDIT_QX,
			CHA_QX,AUDIT_QX,
			QX_ID
		from HJS_SYS_ROLE 
		where IS_DEL=0 AND
		 	PARENT_ID = '7'
	</select>
	
	<!-- 给全部子职位加菜单权限 -->
	<update id="HjsSysRole.setAllRights">
		update HJS_SYS_ROLE 
		set MENU_RIGHTS=#{menuRights} 
		where PARENT_ID=#{id}
	</update>
	<!--
		描述：（后台）修改添加权限功能sql
		作者：Zhang Yong
		时间：2015.9.14
	-->
	<update id="HjsSysRole.add_qx" >
		update HJS_SYS_ROLE 
		set ADD_QX=#{addQx} 
		where ID=#{id}
	</update>
	<!--
		描述：（后台）修改删除权限功能sql
		作者：Zhang Yong
		时间：2015.9.14
	-->
	<update id="HjsSysRole.del_qx" >
		update HJS_SYS_ROLE 
		set DEL_QX=#{delQx} 
		where ID=#{id}
	</update>
	<!--
		描述：（后台）修改角色编辑权限功能sql
		作者：Zhang Yong
		时间：2015.9.14
	-->
	<update id="HjsSysRole.edit_qx">
		update HJS_SYS_ROLE 
		set EDIT_QX=#{editQx} 
		where ID=#{id}
	</update>
	<!--
		描述：（后台）修改角色查询权限功能sql
		作者：Zhang Yong
		时间：2015.9.14
	-->
	<update id="HjsSysRole.cha_qx" >
		update HJS_SYS_ROLE 
		set CHA_QX=#{chaQx} 
		where ID=#{id}
	</update>
	<!--
		描述：（后台）修改角色审核权限功能sql
		作者：Zhang Yong
		时间：2015.9.14
	-->
	<update id="HjsSysRole.audit_qx" >
		update HJS_SYS_ROLE 
		set AUDIT_QX=#{auditQx} 
		where ID=#{id}
	</update>
	
	<update id="HjsSysRole.kfqx1" parameterType="pd">
		update HJS_SYS_ROLE 
		set QX1=#{qx1} 
		where ID=#{id}
	</update>
	
	<update id="HjsSysRole.kfqx2" parameterType="pd">
		update HJS_SYS_ROLE 
		set QX2=#{qx2} 
		where ID=#{id}
	</update>
	
	<update id="HjsSysRole.fxqx" parameterType="pd">
		update HJS_SYS_ROLE 
		set FX_QX=#{fxQx} 
		where ID=#{id}
	</update>
	
	<update id="HjsSysRole.fwqx" parameterType="pd">
		update HJS_SYS_ROLE 
		set FW_QX=#{fwQx} 
		where ID=#{id}
	</update>
	<!--
		描述：（后台）修改角色菜单权限功能sql
		作者：Zhang Yong
		时间：2015.9.14
	-->
	<update id="HjsSysRole.updateRoleRights" parameterType="Role">
		update HJS_SYS_ROLE 
		set MENU_RIGHTS=#{menuRights} 
		where ID=#{id}
	</update>
	<!--
		描述：（后台）得到角色组列表功能sql
		作者：Zhang Yong
		时间：2015.9.14
	-->
	<select id="HjsSysRole.listAllRoles" resultMap="RM_HjsSysRole">
		select 
			ID,
			ROLE_NAME,
			MENU_RIGHTS,
			PARENT_ID,
			ADD_QX,
			DEL_QX,
			EDIT_QX,
			CHA_QX,AUDIT_QX,
			FX_QX,
			FW_QX,
			QX1,QX2,QX3,QX4,C1,C2,C3,C4,Q1,Q2,Q3,Q4			
		from HJS_SYS_ROLE 
		where IS_DEL=0 AND PARENT_ID = 0
		ORDER BY ID
	</select>
	<!--
		描述：（后台）通过parentId获得角色信息列表功能sql
		作者：Zhang Yong
		时间：2015.9.14
	-->
	<select id="listAllRolesByPId" resultMap="RM_HjsSysRole">
		select 
			ID,
			ROLE_NAME,
			MENU_RIGHTS,
			PARENT_ID,
			ADD_QX,
			DEL_QX,
			EDIT_QX,
			CHA_QX,AUDIT_QX,
			FX_QX,
			FW_QX,
			QX1,QX2,QX3,QX4,C1,C2,C3,C4,Q1,Q2,Q3,Q4
		from HJS_SYS_ROLE  
		where IS_DEL=0 AND
			PARENT_ID = #{id}
		ORDER BY ID
	</select>	
</mapper>

