<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
    <dubbo:application name="web-admin-operation"/>
    
	<dubbo:registry address="zookeeper://${ZOOKEEPER_SERVER}" />
	  
	<dubbo:reference id="hjsSysMenuService" interface="com.cifex.business.api.system.menu.HjsSysMenuService"  />
	<dubbo:reference id="hjsSysRoleService" interface="com.cifex.business.api.system.role.HjsSysRoleService"   />
	<dubbo:reference id="hjsUserService" interface="com.cifex.business.api.system.user.HjsUserService"   />
	<dubbo:reference id="hjsSysUserRoleService" interface="com.cifex.business.api.system.userRole.HjsSysUserRoleService"   />
	<dubbo:reference id="hjsUsersOptLogService" interface="com.cifex.business.api.system.user.HjsUsersOptLogService"   />
    <dubbo:reference id="hjsBorrowProjectService" interface="com.cifex.business.api.system.borrow.HjsBorrowProjectService"   />
	<dubbo:reference id="hjsSysConfigService" interface="com.cifex.business.api.system.config.HjsSysConfigService"   />
	<dubbo:reference id="hjsUsersOptService" interface="com.cifex.business.api.system.user.HjsUsersOptService"   />
	<dubbo:reference id="hjsBorrowService" interface="com.cifex.business.api.system.borrow.HjsBorrowService"   />
	<dubbo:reference id="hjsUserBaseService" interface="com.cifex.business.api.system.account.HjsUserBaseService"   />
	<dubbo:reference id="hjsUsersInfoService" interface="com.cifex.business.api.system.user.HjsUsersInfoService"   />
	<dubbo:reference id="hjsAccountUsersService" interface="com.cifex.business.api.system.account.HjsAccountUsersService"   />
	<dubbo:reference id="hjsUsersEnterpriceService" interface="com.cifex.business.api.system.user.HjsUsersEnterpriceService"   />
	<dubbo:reference id="hjsBorrowUserService" interface="com.cifex.business.api.system.borrow.HjsBorrowUserService"   />
	<dubbo:reference id="hjsAccountRechargeService" interface="com.cifex.business.api.system.account.HjsAccountRechargeService"   />
    <dubbo:reference id="hjsAccountPaymentService" interface="com.cifex.business.api.system.account.HjsAccountPaymentService"   />
    <dubbo:reference id="hjsAccountBankService" interface="com.cifex.business.api.system.account.HjsAccountBankService"   />
    <dubbo:reference id="hjsAccountCashService" interface="com.cifex.business.api.system.account.HjsAccountCashService"   />
	<dubbo:reference id="hjsAccountLogService" interface="com.cifex.business.api.system.account.HjsAccountLogService" />
    <dubbo:reference id="hjsBorrowAuditService" interface="com.cifex.business.api.system.borrow.HjsBorrowAuditService"   />
    <dubbo:reference id="hjsBorrowTenderService" interface="com.cifex.business.api.system.borrow.HjsBorrowTenderService"   />
	<dubbo:reference id="hjsApproveRealnameService" interface="com.cifex.business.api.system.approve.HjsApproveRealnameService"   />
    <dubbo:reference id="hjsApproveEmailActiveService" interface="com.cifex.business.api.system.approve.HjsApproveEmailActiveService"   />
    <dubbo:reference id="hjsApproveSmsService" interface="com.cifex.business.api.system.approve.HjsApproveSmsService"   />
    <dubbo:reference id="hjsApproveSmsSendlogService" interface="com.cifex.business.api.system.approve.HjsApproveSmsSendlogService"   />
    <dubbo:reference id="hjsAccountUsersBankService" interface="com.cifex.business.api.system.account.HjsAccountUsersBankService"   />
    <dubbo:reference id="hjsAccountGrantService" interface="com.cifex.business.api.system.account.HjsAccountGrantService"   />
    <dubbo:reference id="hjsAccountRefundService" interface="com.cifex.business.api.system.account.HjsAccountRefundService"   />
    <dubbo:reference id="hjsActBonusService" interface="com.cifex.business.api.system.activity.HjsActBonusService"   />
    <dubbo:reference id="hjsActInfoService" interface="com.cifex.business.api.system.activity.HjsActInfoService"   />
    <dubbo:reference id="hjsActBonusUsersService" interface="com.cifex.business.api.system.activity.HjsActBonusUsersService"   />
    <dubbo:reference id="hjsActRechargeService" interface="com.cifex.business.api.system.activity.HjsActRechargeService"   />
    <dubbo:reference id="hjsUsersBlackService" interface="com.cifex.business.api.system.user.HjsUsersBlackService"   />
    <dubbo:reference id="hjsUsersChannelRecordService" interface="com.cifex.business.api.system.user.HjsUsersChannelRecordService"   />
    <dubbo:reference id="hjsActBonusUsersManualService" interface="com.cifex.business.api.system.activity.HjsActBonusUsersManualService"   />
    <dubbo:reference id="hjsActDrawService" interface="com.cifex.business.api.system.draw.HjsActDrawService"   />
    <dubbo:reference id="accountCashService" interface="com.cifex.business.api.user.account.AccountCashService"   />
    <dubbo:reference id="hjsActDrawAwardService" interface="com.cifex.business.api.system.draw.HjsActDrawAwardService"   />
    <dubbo:reference id="hjsActDrawAwardWinService" interface="com.cifex.business.api.system.draw.HjsActDrawAwardWinService"   />
    
    <!-- 基金后台配置 -->
	<dubbo:reference id="hjsFundFundsinfoService" interface="com.cifex.business.api.fund.system.funds.HjsFundFundsinfoService" />
    <dubbo:reference id="hjsFundCompanyService" interface="com.cifex.business.api.fund.system.company.HjsFundCompanyService" />
	<dubbo:reference id="hjsFundFundsSynclogService" interface="com.cifex.business.api.fund.system.funds.HjsFundFundsSynclogService" />
    <dubbo:reference id="hjsFundTradeService" interface="com.cifex.business.api.fund.system.trade.HjsFundTradeService" />
	<dubbo:reference id="hjsFundTradeReturnService" interface="com.cifex.business.api.fund.system.trade.HjsFundTradeReturnService" />
	<dubbo:reference id="hjsFundSynclogService" interface="com.cifex.business.api.fund.system.logs.HjsFundSynclogService" />
    <dubbo:reference id="hjsFundSynclogMainService" interface="com.cifex.business.api.fund.system.logs.HjsFundSynclogMainService" />
    <dubbo:reference id="hjsFundUserAccountlogService" interface="com.cifex.business.api.fund.system.user.HjsFundUserAccountlogService" />
    <dubbo:reference id="hjsFundUserinfoService" interface="com.cifex.business.api.fund.system.user.HjsFundUserinfoService" />
</beans> 