body{
	background: #fff;
	font-family: "微软雅黑";
}
.bg-fff{
	background: #fff;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.c-1fcfcd{
	color: #1fcfcd;
}
.c-000{
	color: #000;
}
#find-header{
	height: 60px;
	background: #f1f1f1;
}
#find-header>h1{
	height: 60px;
	line-height: 60px;
	font-size: 28px;
}
#find-section{
	padding-top: 60px;
}
#find-section>ul{
	border-bottom: 15px solid #f7f7f7;
}
#find-section .mui-indexed-list{
	border-top: none;
}
#find-section .mui-indexed-list-search input{
	background: #fff;
}

#find-section .mui-indexed-list-group{
	background: #fff;
	margin-left: 15px;
	padding-left: 0;
}
#find-section .mui-table-view-cell:after,
#find-section .mui-table-view-divider:after,
#find-section .mui-table-view-divider:before{
	background: #fff;
}
#find-section .mui-indexed-list-search{
	border-bottom: none;
}
#find-section .mui-indexed-list-bar{
	background: #fff;
}
#find-section .mui-title{
	color: #1d1d26;
	font-weight: bold;
}
.find-li{
	border: none;
	margin-bottom: 13px;
}
#find-section .find-li-img{
	float: left;
	width: 15%;
	height: 80px;
	text-align: center;
}
#find-section .find-li-img>i{
	display: inline-block;
	width: 60px;
	height: 60px;	
	margin-top: 13px;
}
#find-section li:nth-child(1) i{
	background: url(../images/dy.png) no-repeat;
	background-size:100%;
}
#find-section li:nth-child(2) i{
	background: url(../images/mj1.png) no-repeat;
	background-size:100%;
}
#find-section li:nth-child(3) i{
	background: url(../images/mj1.png) no-repeat;
	background-size:100%;
}
#find-section li:nth-child(4) i{
	background: url(../images/al.png) no-repeat;
	background-size:100%;
}
#find-section .find-li-text{
	width: 85%;
	float: left;
	padding-left: 2%;
	height: 80px;
}
.find-li-text>div{
	display: inline-block;
	float: left;
	height: 80px;
}
#find-section .find-li-text p{
	font-size: 22px;
	font-weight: bold;
	color: #000;
	height: 50px;
	line-height: 55px;
	margin: 0;
}
.find-dy{
	overflow: hidden;
}
.find-li-text>s{
	display: inline-block;	
	width: 13px;
	height: 23px;
	margin-top:28px;
	margin-right: 10px;
	background: url(../images/rig_480.png) no-repeat;
}
#find-section .find-li-text span{
	display: block;
	font-size: 18px;
	color: #777;
	height: 20px;
	line-height: 20px;
}
#find-section .mui-indexed-list-group{
	padding-top: 6px;
	padding-bottom: 6px;
}
.find-other>p{
	font-size: 24px;
	color: #000;
	padding-left: 30px;
	margin: 25px 0;
}
.find-other-ul{
	padding-left: 30px;
}
.find-other-li{
	list-style: none;
	margin-bottom: 30px;
}
.find-main{
	overflow: hidden;
}
.find-other-img{
	height: 80px;
	width: 20%;
	float: left;
}
.find-other-img>img{
	width: 100%;
}
.find-other-text{
	width: 80%;
	height: 80px;
	float: left;
	padding-left: 20px;
}
.find-other-text>div{
	height: 40px;
	line-height: 60px;
}
.find-other-text>p{
	font-size: 23px;
	height: 30px;
	line-height: 30px;
	margin: 0;
	color: #000;
}
.find-other-text span{
	display: inline-block;
	font-size: 20px;
	height: 30px;
	line-height: 30px;
	color: #888;
}
.find-other-text b{
	float: right;
	margin-right: 15px;
	color: #888;
	font-size: 20px;
	font-weight: normal;
}
.find-other-ul{
	border-bottom: 15px solid #f7f7f7;
}
