@charset "utf-8";
/* CSS Document */

/*邮箱验证1*/
.account-Right .email{width:900px;padding:0 50px; background: #fff;}
.account-Right .email p.p1{width:818px;line-height:26px; margin:80px 0 0 313px;color:#a6a6a6;}
.account-Right .email p.p2{width:818px;line-height:26px; margin:0px 0 18px 313px;}
.backName b{ display:none;color:#858585;}

.account-Right .emailLab{ margin-left:157px;}
.account-Right .emailLab .formVerBut{ display:inline-block;width:100px;height:34px;line-height:34px; background:#ff9933;text-indent:0;color:#fff; margin-left:18px; text-align:center;}
.account-Right .emailLab .time{display:none; position:absolute;width:100px;height:34px;line-height:34px;background:#ff9933;text-indent:0;color:#fff; margin-left:22px; text-align:center;}
.account-Right .emailLab .phoneText{width:150px;height:34px;line-height:34px;border:1px solid #c2c2c2; text-indent:5px;}
.backName{ margin-bottom:35px; margin-left:181px; margin-top:20px;}
.yanzheng{ margin-bottom:48px; margin-left:324px;}
.backName span,.yanzheng span{display:inline-block;width:130px; text-align:right;}
.backName input{width:264px;height:34px;line-height:34px;border:1px solid #c2c2c2; text-indent:5px;}
.yanzheng input{width:298px;height:42px;line-height:42px;font-size:16px;color:#a6a6a6;border:1px solid #d2d2d2;border-radius:4px;text-indent:48px;background: url(../images/spirits.png) no-repeat 8px -48px}

.setEmail{width:152px;height:42px;line-height:42px;color:#fff; background:#287ad2;margin:7px 0 90px 315px; cursor:pointer;}

/*邮箱验证2*/
.account-Right .email2{background: #fff;padding: 0 50px 227px;}
.account-Right .email2 .rzSub{width:300px;height:50px;line-height: 50px; background: #f27267;font-size: 24px;color:#fff;margin:100px 0 0px 298px;border-radius:4px;cursor:pointer;}
/*邮箱验证3*/
.account-Right .email3{width:900px; background: #fff;padding: 0 50px;}
.email3 .xiuPhone1-top{width:900px;}
.email3 h3{width:745px; font-size:20px;color:#82c72e;height:36px;line-height:36px; padding-left:152px; margin-top:50PX;margin-bottom: 16px;}
.email3 h3 i{display: inline-block;width: 36px;height: 36px;background:url(../images/ico_all.png) no-repeat -10px -100px;vertical-align: middle;margin-right: 18px;}
.email3 .emailBtn{display:block;width:300px;height:50px;line-height:50px; background:#f27267;color:#fff; text-align:center;font-size: 24px; margin:56px 0 56px 152px;border-radius: 4px;}
.email3 p{width:745px;line-height:26px;color:#383838;padding-left: 152px;}
.email3 p.ptit{font-size:14px;color:#ababab;}
.email3 p.ptit i{display:inline-block;width: 17px;height: 17px;background:url(../images/ico_all.png) no-repeat -85px -145px;vertical-align: middle;margin-right:6px;}
.email3 .jiejue .p{font-size:14px; text-align:left;color:#6b6b6b;}
.email3 .jiejue{ margin-left:152px; padding-bottom:91px;}
.email3 .jiejue li{line-height:24px;font-size:14px;color:#6b6b6b;}
.email3 .jiejue li a{font-size:14px;color:#f27267; display:inline;}
/*修改密码*/
.account-Right .xiuPassword{width:1000px;}
.account-Right .xiuPassword h3{width:964px;height:50px;line-height:50px; background:#fff;padding-left: 30px;border-left: 6px solid #f27267;margin-bottom: 10px;}
.account-Right .xiuPassword p{width:878px;line-height:42px;padding:0 0 0 22px;background:url(../images/ico_mod.png) no-repeat 0px center;border-bottom:1px solid #e8e8e8; margin-bottom:40px;font-size: 14px;color:#383838;}
.account-Right .xiuPassword form{width: 900px;padding: 36px 50px 210px;background: #fff;}
.account-Right .xiuPassword label{ display:block; margin-bottom:14px;}
.xiuPassword label span{ display:inline-block;width:85px; text-align:right;}
#passForm b.lock{position:absolute;width:38px;height:26px;background:url(../images/spirits.png) no-repeat 0px -168px;top:9px;left:6px;}
.xiuPassword div.pr input{width:298px;height:42px;line-height:42px;border:1px solid #d2d2d2; text-indent:48px;border-radius: 4px;}
.xiuPassword  .baoSub{width:108px;height:34px;line-height:34px; background:#f27267;font-size:16px;color:#fff; margin-left:10px;cursor: pointer;border-radius: 4px;}
.xiuPassword  a.baoSub{width:108px;height:34px;line-height:34px; background:#f27267;font-size:16px;color:#fff; margin-left:10px;border-radius: 4px;}
.xiuPassword  a.return{width:108px;height:34px;line-height:34px; background:#ababab;font-size:16px;color:#fff;border-radius: 4px;}
.xiuPassword .but{ margin-top: 50px;}
/*修改手机1*/
.account-Right .xiuPhone1,.account-Right .xiuPass1{width:900px;padding:0 50px;background: #fff;}
.account-Right .xiuPhone2{width:900px;padding:0 50px 208px 50px;background: #fff;}
.xiuPass1 .xiuPass1-top{width:818px; text-align:center; margin:70px 0 60px;}
.xiuPhone1-top{width:900px;border-bottom: 1px solid #d2d2d2;margin-bottom: 48px;}
.spanText{height: 70px; line-height: 70px;margin-left: 162px; padding-top: 16px;}
.spanText i {display: inline-block;  width: 7px;  height: 12px;  background: url(/static/front/images/ico_next.png) no-repeat 0 center;  margin:0 32px;
}
.spanText span{display: inline-block;height: 70px;line-height: 70px;padding: 0 8px 0 42px;font-size: 20px;color: #ababab;}
.email .xiuPhone1-top{width:900px;border-bottom: 1px solid #d2d2d2;margin-bottom: 48px;}
.email .backSub{width:300px;height:50px;line-height:50px;font-size:24px;color:#fff; background:#f27267;margin:0px 0 220px 324px; cursor:pointer;border-radius: 4px;}
.email p.p1 i{display:inline-block;width:17px;height:17px;background:url(../images/ico_all.png) no-repeat -85px -145px;vertical-align: middle;margin-right: 5px;}
.formVer{text-align:left; margin-bottom:14px; margin-left:324px; margin-top:10px;}
/*获取手机验证码*/
.formVer input{width:178px;height:42px;line-height:42px;font-size:16px;color:#383838;border:1px solid #d2d2d2;text-indent:48px;border-radius: 4px;background: url(../images/spirits.png) no-repeat 8px -105px;}
.formVer #phone{width:298px;height:42px;line-height:42px;font-size:16px;color:#383838;border:1px solid #d2d2d2;text-indent:48px;border-radius: 4px;background: url(../images/spirits.png) no-repeat 8px 7px;}

.formVer .formVerBut{ display:inline-block;width:108px;height:42px;line-height:42px;border: 1px solid #d2d2d2;border-radius: 4px; background:#eeeeee;text-indent:0;font-weight:normal;font-size:16px;color:#ababab; margin-left:6px; text-align:center;}
.formVer .time{display:none; position:absolute;width:110px;height:44px;line-height:44px;background:#c1c1c1;text-indent:0;font-weight:normal;color:#fff;text-align:center;margin-left: 10px;border-radius: 4px; }
.xiuPhone1 .backSub,.xiuPass1 .backSub{width:300px;line-height:24px; padding:13px 0;font-size:24px;color:#fff; background:#f27267;margin:0px 0 220px 324px; cursor:pointer;border-radius: 4px;}
.xiuPass1 .backSub{margin:18px 0 70px 342px;}
.xiuPhone1 p,.xiuPhone2 p{line-height:26px; margin-left:324px;font-size: 14px;color:#6b6b6b;}
.xiuPhone1 p.p1 i{display:inline-block;width:17px;height:17px;background:url(../images/ico_all.png) no-repeat -85px -145px;vertical-align: middle;margin-right: 5px;}
.xiuPhone1 p.p2 i{display:inline-block;width:17px;height:17px;margin-right: 5px;}
#codeImg{left:158px;top:7px;}
.yanzheng .huan{position: absolute;width: 46px;height: 28px;background: url(../images/sx.png) no-repeat center center;border-left: 1px solid #d2d2d2;left: 252px;top: 8px;}
/*修改手机2*/
.xiuPhone2 .phoneText{width:180px;height:34px;line-height:34px;border:1px solid #c2c2c2; margin-left:180px; text-indent:5px;}
/*修改手机3*/
.email2 h3{width:900px; text-align:center; font-size:20px;color:#6b6b6b;}
.email2 h3 i{ display: inline-block;width: 36px;height: 36px;background:url(../images/ico_all.png) no-repeat -10px -100px;vertical-align: middle;margin-right:12px;}
.xiuPhone2 h3{width:900px; text-align:center; font-size:20px;color:#6b6b6b;height: 60px;line-height: 60px;margin:100px 0;}
.xiuPhone2 h3 i{ display: inline-block;width:60px;height: 60px;background:url(../images/ico_all.png) no-repeat -10px -100px;vertical-align: bottom;margin-right: 16px;}
.account-Right a{ display:block; text-align:center;color:#287ad2;}
.yanzheng a{ display:inline;}
.xiuPhone2 h3 span,.xiuPass1 h3 span,.email2 h3 span{ margin-right:5px;}
/*支付密码2*/
.xiuPass1 label{ display:block; margin-bottom:20px; margin-left:215px;}
.xiuPass1 label span{ display:inline-block;width:110px; text-align:right;}
.xiuPass1 label input{width:180px;height:34px;line-height:34px;border:1px solid #c2c2c2; text-indent:5px;}
.xiuPass1 p{width:235px;line-height:26px;padding:20px 0 20px 20px; background:url(../images/warn.png) no-repeat 0px 26px; margin-left:305px; border-bottom:1px dashed #c2c2c2; margin-bottom:30px;}
/*修改银行卡绑定*/
.account-Right .bindBank{width:818px;border:1px solid #efefef;}
.account-Right .bindBank h3{width:798px;height:36px;line-height:36px; background:#efefef; padding-left:20px;}
.bindBank label{ display:block; margin-left:181px; margin-top:30px;}
.bindBank label span{display:inline-block;width:85px; text-align:right;}
.bindBank label input{width:180px;height:34px;line-height:34px;border:1px solid #c2c2c2;}
.bindBank .bankSub{width:150px;height:42px;line-height:42px;color:#fff; background:#287ad2;margin:18px 0 70px 315px; cursor:pointer;}

/*查看汇付账户*/
.titH{width:964px;height:50px;line-height:50px; background:#fff;padding-left: 30px;border-left: 6px solid #f27267;margin-bottom: 10px;}
.replace{width: 498px; background: #fff;padding: 60px 251px 242px;}
.replaceW{width:370px;padding:6px 0 6px 126px;border: 1px solid #d2d2d2;}
.replaceW p{height:44px;line-height:44px;}
.replaceW span{font-size:16px;color:#383838}
.replace span.tit{display:inline-block;width:112px;height:44px;line-height:44px;font-size:14px;color:#6b6b6b;text-align:right;}

.replace a{display:inline-block;width:120px;height:34px;line-height:34px;border-radius:4px;background:#ababab;font-size:16px;color:#fff;margin-left:125px;margin-top: 48px;}
/*开通汇付*/
.open_hf h3{width:964px;height:50px;line-height:50px; background:#fff;padding-left: 30px;border-left: 6px solid #f27267;margin-bottom: 10px;}
.open_hf #nameForm {width:665px;margin:0 0 0 0;background: #fff;padding:94px 0 149px 338px;}
.open_hf #nameForm  p{width:412px;padding-left:24px;background:url(../images/ico_mod.png) no-repeat 0px 2px; margin-bottom:40px;font-size: 14px;color:#6b6b6b;position: relative;left:-90px;top:0px;}
.open_hf #nameForm input{width:298px;height:42px;line-height:42px;font-size:16px;color:#383838;border:1px solid #d2d2d2; text-indent:10px;border-radius: 4px;}
.open_hf .hf_name,.open_hf .hf_id{margin-bottom: 14px;}
.open_hf #subBtn{width:300px;height:50px;line-height:50px; background:#f27267;font-size:16px;color:#fff;border-radius: 4px;margin-top: 20px;}


