@charset "utf-8";
/* CSS Document */

.productList{width:100%;}
.productList .prouct{width:1000px; margin:30px auto 0;}
.productList .prouct h2{font-size:18px;color:#000;height:30px;line-height:30px; padding-left:12px;}
.productList .products-Center{width:620px; margin:0 10px;}
.products-Center .centerTop-left{width:400px;height:218px;}
.products-Center .centerTop-right{ margin-left:10px;}
.prouct .centerfot ul{border:1px solid #c9c9c9;border-top:none;}
.prouct .centerfot li{width:193px;border-right:1px solid #c9c9c9;padding:15px 0 15px 12px; float:left;}
.prouct .centerfot li h4 a{ display:block;width:180px;font-size:15px;color:#1575ce;font-weight:bold;height:28px;line-height:28px;white-space:nowrap;overflow:hidden; text-overflow:ellipsis;}
.prouct .centerfot li p{width:180px;color:#626262;height:20px;line-height:20px;}
.prouct .centerfot li h5{width:180px;font-size:16px;color:#8f8f8f;height:26px;line-height:26px; padding-top:13px;}
.prouct .centerfot li div{width:180px;font-size:24px;color:#ff8c00;height:28px;line-height:28px;}
.productList .products-Right{width:198px;background:#f8f8f8;} 
.productList .products-Right h3{width:185px;height:46px;line-height:46px; margin-left:6px;border-bottom:2px solid #c9c9c9;font-size:18px;color:#505050; font-weight:bold;text-align:center;}
.productList .products-Right ul{}
.productList .products-Right li{width:185px; margin-left:6px;padding:10px 0; border-bottom:1px solid #e7e7e7;}
.productList .products-Right li .icoNav{display:inline-block;width:30px;font-size:14px;color:#377ac2;text-align:center;font-family:arial;font-style:italic;font-weight:bold;}
.products-Right li span i{display:inline-block;width:150px;font-size:12px;color:#8f8f8f;font-weight:normal;padding-left:36px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.products-Right li span i strong{font-size:16px;color:#ff8c00;}
.products-Right li a{display:inline-block;width:150px;font-size:13px;color:#4c4c4c;font-weight:normal;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.products-Right li a:hover{color:#287ad2;}

#full_screen_slider {width:400px; height:218px; position:relative;cursor:pointer;}
#slide { display:block; width:400px; height:218px; list-style:none; padding:0; margin:0; position:relative}
#slide li { display:block; width:400px; height:218px; list-style:none; padding:0; margin:0; position:absolute}
#index_prev{position:absolute;top:80px;left:5%;z-index:999;background:#000; opacity:.1;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);height:35px;width:26px;display:block;text-align:center;padding-top:9px;display:none;}
#index_next{position:absolute;top:80px;right:5%;z-index:999;background:#000;opacity:.1;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);height:35px;width:26px;display:block;text-align:center;padding-top:9px;display:none;}
#index_prev:hover{opacity:.4;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);}
#index_next:hover{opacity:.4;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);}

.prouct .adver{ margin:8px 0;}