@charset "utf-8";
/* CSS Document */

.ownContent{width:100%;background:#e8e8e8;padding:20px 0 0;}
.own{width:1200px; margin:0 auto;}

.ownRight{width:1198px;background:#fff;}
/*流程图*/
/*找回密码*/
/*.ownRight .process{margin:20px 0 80px 20px; text-align:center;}
.processSpan{ margin-left:75px;}
.ownRight .process span{ display:inline-block;width:115px; margin-right:75px;margin-bottom:10px; text-align:center;}
.activeS{color:#287ad2;}*/

.backName b{ display:none;color:#858585;}

.backName,.yanzheng{ margin-bottom:12px; margin-left:450px;}
.backName span,.yanzheng span{display:inline-block;width:65px; text-align:left;}
.backName input{width:298px;height:42px;line-height:42px;border:1px solid #d2d2d2; text-indent:48px;font-size:16px;color:#383838;border-radius: 4px;}
.yanzheng input{width:298px;height:42px;line-height:42px;border:1px solid #d2d2d2;text-indent:48px;font-size:16px;color:#383838;border-radius: 4px;}
.ownRight .backSub,.setEmail{width:300px;height:50px;line-height:50px;font-size:24px;color:#fff; background:#f27267;margin:72px 0 90px 450px; cursor:pointer;border-radius: 4px;}
/*验证身份*/
.user span,.phone span{display:inline-block; text-align:right;}
.ver select{width:140px;height:34px;line-height:34px;border:1px solid #ababab;}
.user{ margin-right:85px;}


.dropInp{ display:inline-block;}
.dropInp input{width:300px;height:42px;border:1px solid #d2d2d2;border-radius: 4px; background:url(../images/drop.png) no-repeat 268px 18px; text-indent:48px;font-size:16px;color:#494646;cursor: pointer;}
.dropInp ul{ display:none; position:absolute;left:0px;top:41px;width:298px;border:1px solid #d2d2d2;border-bottom:none;}
.dropInp ul li{height:42px;line-height:42px;border-bottom:1px solid #d2d2d2;font-size:16px;color:#494646;text-indent: 5px; background:#fff;cursor:pointer;}

.optionTab{ display:none;}
.formVer{text-align:left; margin-bottom:12px; margin-left:442px;}
/*获取手机验证码*/
.formVer input{width:180px;height:42px;line-height:42px;border:1px solid #d2d2d2;text-indent:48px;border-radius: 4px;font-size: 16px;color:#494646;}
.formVer .formVerBut{ display:inline-block;width:108px;height:42px;line-height:42px;border-radius:4px;background:#f27267;text-indent:0;color:#fff; text-align:center;}
.formVer .time{display:none; background:#c1c1c1;color:#fff; text-align:center;position: absolute;width: 110px;height: 42px;line-height: 42px;margin-left: 5px;border-radius:4px;}
/*发送邮件*/
.ownRight h3{width:503px; font-size:16px;height:80px;line-height:80px; padding-left:485px; margin-top:50PX;}
.ownRight h3 i{display:inline-block;width:36px;height:36px;background:url(../images/ico_all.png) no-repeat -10px -100px; vertical-align: middle;margin-right: 20px;}
.ownRight .emailBtn{display:block;width:200px;height:34px;line-height:34px; background:#f27267;color:#fff; text-align:center; margin:30px 0 30px 488px;}
.ownRight p{line-height:26px;text-align:center;color:#666;}
.ownRight .jiejue p{font-size:12px; text-align:left;}
.ownRight .jiejue{ margin-left:300px; padding-bottom:50px;}
.ownRight .jiejue li{line-height:24px;font-size:12px;color:#666;}
.ownRight .jiejue li a{font-size:12px;color:#f27267;}

/*重设密码*/
.passwordSet{margin-left:450px;}
.passwordSet span{width:70px;}
.passwordSet label{ display:block; margin-bottom:12px;}
.passwordSet label input{width:300px;height:42px;line-height:42px;text-indent:48px;border:1px solid #d2d2d2;}
.passwordSet label b{color:#858585;font-weight:normal;}
/*密码修改成功*/
.setOk{width:100%;text-align:center;}
.setOk img{vertical-align: middle;}
.setOk div{ font-size:18px;color:#4b4b4b; margin-bottom:40px;}
.setOk div a{font-size:18px;color:#ffa135;}